body
{
   background-color: #00BAFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: transparent;
   background-image: url(images/416111892_328156180215899_8872704669035389180_n.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: contain;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   border-width: 0;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image8
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape2
{
   border-width: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   position: absolute;
   left: 319px;
   top: 679px;
   width: 326px;
   height: 72px;
   text-align: center;
   z-index: 9;
}
#Shape1
{
   width: 358px;
   height: 87px;
}
#Shape2
{
   width: 291px;
   height: 87px;
}
#wb_Image2
{
   position: absolute;
   left: 383px;
   top: 548px;
   width: 196px;
   height: 145px;
   filter: alpha(opacity=80);
   opacity: 0.80;
   z-index: 0;
}
#Layer1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0px;
   right: 0;
   width: 967px;
   height: 862px;
   margin-left: auto;
   margin-right: auto;
   z-index: 11;
}
#wb_Image3
{
   position: absolute;
   left: 335px;
   top: 58px;
   width: 220px;
   height: 176px;
   filter: alpha(opacity=60);
   opacity: 0.60;
   z-index: 1;
}
#wb_Image4
{
   position: absolute;
   left: 517px;
   top: 521px;
   width: 244px;
   height: 172px;
   z-index: 2;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 205px;
   top: 491px;
   width: 228px;
   height: 203px;
   z-index: 4;
}
#wb_Image6
{
   position: absolute;
   left: 232px;
   top: 543px;
   width: 129px;
   height: 129px;
   z-index: 5;
}
#wb_Image7
{
   position: absolute;
   left: 596px;
   top: 546px;
   width: 165px;
   height: 123px;
   z-index: 10;
}
#wb_Image8
{
   position: absolute;
   left: 373px;
   top: 554px;
   width: 112px;
   height: 106px;
   z-index: 8;
}
#wb_Image9
{
   position: absolute;
   left: 502px;
   top: 552px;
   width: 110px;
   height: 110px;
   z-index: 3;
}
#wb_Shape1
{
   position: absolute;
   left: 303px;
   top: 672px;
   width: 358px;
   height: 87px;
   z-index: 6;
}
#wb_Shape2
{
   position: absolute;
   left: 250px;
   top: 821px;
   width: 291px;
   height: 87px;
   visibility: hidden;
   z-index: 7;
}
@media only screen and (max-width: 969px)
{
#wb_Image2
{
   left: 138px;
   top: 373px;
   width: 103px;
   height: 103px;
   visibility: visible;
   display: inline;
}
#Layer1
{
   width: 378px;
   height: 910px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: url(images/416111892_328156180215899_8872704669035389180_n.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: contain;
}
#Layer1_Container
{
   width: 320px;
}
#wb_Image3
{
   left: 134px;
   top: 41px;
   width: 111px;
   height: 105px;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 192px;
   top: 366px;
   width: 117px;
   height: 117px;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 18px;
   top: 368px;
   width: 127px;
   height: 127px;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 1px;
   top: 394px;
   width: 74px;
   height: 74px;
   visibility: visible;
   display: inline;
}
#wb_Image9
{
   left: 90px;
   top: 400px;
   width: 63px;
   height: 63px;
   visibility: visible;
   display: inline;
}
#wb_Shape1
{
   left: 20px;
   top: 622px;
   visibility: hidden;
   display: none;
}
#wb_Image7
{
   left: 234px;
   top: 394px;
   width: 86px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_Image8
{
   left: 170px;
   top: 399px;
   width: 64px;
   height: 65px;
   visibility: visible;
   display: inline;
}
#wb_Shape2
{
   left: 18px;
   top: 490px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 24px;
   top: 497px;
   width: 279px;
   height: 72px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
}
}
