div#container
{
   width: 1900px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer1
{
   background-color: transparent;
   background-image: url(images/420120244_3198029677170792_7910786193154588814_n.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: transform-pulse 1500ms linear 0ms infinite normal;
   -moz-animation: transform-pulse 1500ms linear 0ms infinite normal;
   animation: transform-pulse 1500ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: transform-pulse 1500ms linear 0ms infinite normal;
   -moz-animation: transform-pulse 1500ms linear 0ms infinite normal;
   animation: transform-pulse 1500ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: transform-bounce 1500ms linear 0ms infinite normal;
   -moz-animation: transform-bounce 1500ms linear 0ms infinite normal;
   animation: transform-bounce 1500ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: transform-shake 1500ms linear 0ms infinite normal;
   -moz-animation: transform-shake 1500ms linear 0ms infinite normal;
   animation: transform-shake 1500ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
}
#wb_Image2
{
   position: absolute;
   left: 35%;
   top: 72%;
   width: 13%;
   height: 31%;
   z-index: 3;
}
#Layer1
{
   position: fixed;
   overflow: hidden;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 11;
}
#wb_Image3
{
   position: absolute;
   left: 55%;
   top: 69%;
   width: 11%;
   height: 33%;
   z-index: 4;
}
#Layer2
{
   position: fixed;
   overflow: hidden;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
}
#wb_Image4
{
   position: absolute;
   left: 34%;
   top: 6%;
   width: 30%;
   height: 19%;
   z-index: 2;
}
#Layer1_Container
{
   width: 1900px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 36%;
   top: 27%;
   width: 26%;
   height: 20%;
   z-index: 1;
}
#wb_Image6
{
   position: absolute;
   left: 42%;
   top: 54%;
   width: 15%;
   height: 14%;
   z-index: 0;
}
@media only screen and (min-width: 1660px) and (max-width: 1899px)
{
div#container
{
   width: 1660px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer1
{
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: url(images/420120244_3198029677170792_7910786193154588814_n.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}
#Layer1_Container
{
   width: 1660px;
}
#wb_Image2
{
   left: 25%;
   top: 61%;
   width: 20%;
   height: 38%;
   visibility: visible;
   display: inline;
}
#wb_Image3
{
   left: 55%;
   top: 60%;
   width: 17%;
   height: 39%;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 30%;
   top: 8%;
   width: 39%;
   height: 20%;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 35%;
   top: 30%;
   width: 30%;
   height: 17%;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 42%;
   top: 53%;
   width: 15%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#Layer2
{
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
}
@media only screen and (max-width: 1659px)
{
div#container
{
   width: 320px;
}
#Layer1
{
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: url(images/420120244_3198029677170792_7910786193154588814_n.jpg);
   background-repeat: no-repeat;
   background-position: center center;
}
#Layer1_Container
{
   width: 320px;
}
#wb_Image2
{
   left: 3%;
   top: 68%;
   width: 40%;
   height: 33%;
   visibility: visible;
   display: inline;
}
#wb_Image3
{
   left: 58%;
   top: 68%;
   width: 36%;
   height: 34%;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 9%;
   top: 7%;
   width: 81%;
   height: 17%;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 13%;
   top: 26%;
   width: 72%;
   height: 17%;
   visibility: visible;
   display: inline;
}
#wb_Image6
{
   left: 22%;
   top: 47%;
   width: 55%;
   height: 15%;
   visibility: visible;
   display: inline;
}
#Layer2
{
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
}
