div#container
{
   width: 1608px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #02071A;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#partycat
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: transform-pulse 600ms linear 0ms infinite normal;
   -moz-animation: transform-pulse 600ms linear 0ms infinite normal;
   animation: transform-pulse 600ms linear 0ms infinite normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#partycat:enabled
{
   padding-bottom: px;
   -webkit-transition: padding-bottom 500ms linear 0ms;
   -moz-transition: padding-bottom 500ms linear 0ms;
   transition: padding-bottom 500ms linear 0ms;
}
#Layer2
{
   background-color: #02071A;
   background-image: none;
}
#mainbg
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: #02071A;
   background-image: none;
}
#wb_Contact 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Contact div
{
   text-align: center;
}
#Cat_Club
{
   border-width: 0;
}
#tele
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#xlogo
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#raydiumlogo
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#birdeye
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MediaPlayer1
{
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Enter_Club
{
   border: 1px #F5F5F5 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #020315;
   background-image: none;
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 16px;
}
#cat1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#cat2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_MediaPlayer1
{
   position: absolute;
   left: 45%;
   top: 19%;
   width: 12%;
   height: 5%;
   visibility: hidden;
   z-index: 5;
}
#wb_Text1
{
   position: absolute;
   left: 31%;
   top: 4%;
   width: 12%;
   height: 6%;
   visibility: hidden;
   z-index: 8;
   text-align: left;
}
#wb_raydiumlogo
{
   position: absolute;
   left: 48%;
   top: 73%;
   width: 5%;
   height: 6%;
   z-index: 1;
}
#wb_Image1
{
   position: absolute;
   left: 12%;
   top: 7%;
   width: 73%;
   height: 79%;
   filter: alpha(opacity=50);
   opacity: 0.50;
   z-index: 10;
}
#Layer1
{
   position: fixed;
   overflow: auto;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 15;
}
#Layer2
{
   position: absolute;
   overflow: hidden;
   text-align: left;
   left: 102px;
   top: 823px;
   width: 1506px;
   height: 858px;
   z-index: 14;
}
#wb_birdeye
{
   position: absolute;
   left: 54%;
   top: 73%;
   width: 3%;
   height: 6%;
   z-index: 2;
}
#wb_tele
{
   position: absolute;
   left: 38%;
   top: 73%;
   width: 3%;
   height: 6%;
   z-index: 4;
}
#wb_Contact
{
   position: absolute;
   left: 24%;
   top: 16%;
   width: 53%;
   height: 2%;
   text-align: center;
   z-index: 0;
}
#wb_mainbg
{
   position: absolute;
   left: 12%;
   top: 7%;
   width: 73%;
   height: 79%;
   z-index: 9;
}
#wb_cat1
{
   position: absolute;
   left: 26%;
   top: 39%;
   width: 8%;
   height: 36%;
   z-index: 13;
}
#Enter_Club
{
   position: absolute;
   left: 43%;
   top: 59%;
   width: 12%;
   height: 5%;
   z-index: 11;
}
#wb_xlogo
{
   position: absolute;
   left: 44%;
   top: 73%;
   width: 3%;
   height: 6%;
   z-index: 3;
}
#wb_cat2
{
   position: absolute;
   left: 60%;
   top: 39%;
   width: 8%;
   height: 36%;
   z-index: 12;
}
#wb_partycat
{
   position: absolute;
   left: 32%;
   top: 26%;
   width: 36%;
   height: 43%;
   z-index: 6;
}
#wb_Cat_Club
{
   position: absolute;
   left: 30%;
   top: 9%;
   width: 42%;
   height: 6%;
   z-index: 7;
}
#Cat_Club
{
   width: 100%;
   height: 100%;
}
@media only screen and (max-width: 1607px)
{
div#container
{
   width: 320px;
}
#wb_Image1
{
   left: 0%;
   top: 11%;
   width: 100%;
   height: 64%;
   visibility: visible;
   display: inline;
}
#wb_partycat
{
   left: 0%;
   top: 30%;
   width: 99%;
   height: 34%;
   visibility: visible;
   display: inline;
}
#Layer2
{
   width: 320px;
   height: 618px;
   visibility: visible;
   display: inline;
   background-color: #02071A;
   background-image: none;
}
#wb_mainbg
{
   left: 0%;
   top: 11%;
   width: 100%;
   height: 64%;
   visibility: visible;
   display: inline;
}
#Layer1
{
   visibility: visible;
   display: inline;
   background-color: #02071A;
   background-image: none;
}
#wb_Contact
{
   left: 10%;
   top: 9%;
   width: 78%;
   height: 8%;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Cat_Club
{
   left: 12%;
   top: 3%;
   visibility: hidden;
   display: none;
}
#wb_tele
{
   left: 6%;
   top: 67%;
   width: 17%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_xlogo
{
   left: 29%;
   top: 67%;
   width: 17%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_raydiumlogo
{
   left: 50%;
   top: 67%;
   width: 23%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_birdeye
{
   left: 76%;
   top: 67%;
   width: 17%;
   height: 9%;
   visibility: visible;
   display: inline;
}
#wb_MediaPlayer1
{
   left: 20%;
   top: 79%;
   width: 57%;
   height: 6%;
   visibility: hidden;
   display: none;
}
#Enter_Club
{
   left: 32%;
   top: 43%;
   width: 33%;
   height: 5%;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 15px;
   background-color: #020315;
   background-image: none;
}
#wb_cat1
{
   left: 13%;
   top: 47%;
   width: 16%;
   height: 19%;
   visibility: visible;
   display: inline;
}
#wb_cat2
{
   left: 69%;
   top: 47%;
   width: 15%;
   height: 19%;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 18%;
   top: 2%;
   width: 73%;
   height: 4%;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
}
