@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform:  rotate(0deg);  }
   20% { -webkit-transform:  rotate(0deg);  }
   40% { -webkit-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -webkit-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform:  rotate(0deg);  }
   20% { -moz-transform:  rotate(0deg);  }
   40% { -moz-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -moz-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
}
@-o-keyframes transform-bounce
{
   0% { -o-transform:  rotate(0deg);  }
   20% { -o-transform:  rotate(0deg);  }
   40% { -o-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -o-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -o-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -o-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -o-transform:  rotate(0deg) translate(0px,0px);  }
}
@-ms-keyframes transform-bounce
{
   0% { -ms-transform:  rotate(0deg);  }
   20% { -ms-transform:  rotate(0deg);  }
   40% { -ms-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -ms-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
}
@keyframes transform-bounce
{
   0% { transform:  rotate(0deg);  }
   20% { transform:  rotate(0deg);  }
   40% { transform:  rotate(0deg) translate(0px,-30px);  }
   50% { transform:  rotate(0deg) translate(0px,0px);  }
   60% { transform:  rotate(0deg) translate(0px,-15px);  }
   80% { transform:  rotate(0deg) translate(0px,0px);  }
   100% { transform:  rotate(0deg) translate(0px,0px);  }
}
@-webkit-keyframes transform-pulse
{
   0% { -webkit-transform:  rotate(0deg);  }
   50% { -webkit-transform:  rotate(0deg) scale(1.1,1.1);  }
   100% { -webkit-transform:  rotate(0deg) scale(1.0,1.0);  }
}
@-moz-keyframes transform-pulse
{
   0% { -moz-transform:  rotate(0deg);  }
   50% { -moz-transform:  rotate(0deg) scale(1.1,1.1);  }
   100% { -moz-transform:  rotate(0deg) scale(1.0,1.0);  }
}
@-o-keyframes transform-pulse
{
   0% { -o-transform:  rotate(0deg);  }
   50% { -o-transform:  rotate(0deg) scale(1.1,1.1);  }
   100% { -o-transform:  rotate(0deg) scale(1.0,1.0);  }
}
@-ms-keyframes transform-pulse
{
   0% { -ms-transform:  rotate(0deg);  }
   50% { -ms-transform:  rotate(0deg) scale(1.1,1.1);  }
   100% { -ms-transform:  rotate(0deg) scale(1.0,1.0);  }
}
@keyframes transform-pulse
{
   0% { transform:  rotate(0deg);  }
   50% { transform:  rotate(0deg) scale(1.1,1.1);  }
   100% { transform:  rotate(0deg) scale(1.0,1.0);  }
}
@-webkit-keyframes transform-shake
{
   0% { -webkit-transform:  rotate(0deg);  }
   10% { -webkit-transform:  rotate(0deg) translate(-10px,0px);  }
   20% { -webkit-transform:  rotate(0deg) translate(10px,0px);  }
   30% { -webkit-transform:  rotate(0deg) translate(-10px,0px);  }
   40% { -webkit-transform:  rotate(0deg) translate(10px,0px);  }
   50% { -webkit-transform:  rotate(0deg) translate(-10px,0px);  }
   60% { -webkit-transform:  rotate(0deg) translate(10px,0px);  }
   70% { -webkit-transform:  rotate(0deg) translate(-10px,0px);  }
   80% { -webkit-transform:  rotate(0deg) translate(10px,0px);  }
   90% { -webkit-transform:  rotate(0deg) translate(-10px,0px);  }
   100% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
}
@-moz-keyframes transform-shake
{
   0% { -moz-transform:  rotate(0deg);  }
   10% { -moz-transform:  rotate(0deg) translate(-10px,0px);  }
   20% { -moz-transform:  rotate(0deg) translate(10px,0px);  }
   30% { -moz-transform:  rotate(0deg) translate(-10px,0px);  }
   40% { -moz-transform:  rotate(0deg) translate(10px,0px);  }
   50% { -moz-transform:  rotate(0deg) translate(-10px,0px);  }
   60% { -moz-transform:  rotate(0deg) translate(10px,0px);  }
   70% { -moz-transform:  rotate(0deg) translate(-10px,0px);  }
   80% { -moz-transform:  rotate(0deg) translate(10px,0px);  }
   90% { -moz-transform:  rotate(0deg) translate(-10px,0px);  }
   100% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
}
@-o-keyframes transform-shake
{
   0% { -o-transform:  rotate(0deg);  }
   10% { -o-transform:  rotate(0deg) translate(-10px,0px);  }
   20% { -o-transform:  rotate(0deg) translate(10px,0px);  }
   30% { -o-transform:  rotate(0deg) translate(-10px,0px);  }
   40% { -o-transform:  rotate(0deg) translate(10px,0px);  }
   50% { -o-transform:  rotate(0deg) translate(-10px,0px);  }
   60% { -o-transform:  rotate(0deg) translate(10px,0px);  }
   70% { -o-transform:  rotate(0deg) translate(-10px,0px);  }
   80% { -o-transform:  rotate(0deg) translate(10px,0px);  }
   90% { -o-transform:  rotate(0deg) translate(-10px,0px);  }
   100% { -o-transform:  rotate(0deg) translate(0px,0px);  }
}
@-ms-keyframes transform-shake
{
   0% { -ms-transform:  rotate(0deg);  }
   10% { -ms-transform:  rotate(0deg) translate(-10px,0px);  }
   20% { -ms-transform:  rotate(0deg) translate(10px,0px);  }
   30% { -ms-transform:  rotate(0deg) translate(-10px,0px);  }
   40% { -ms-transform:  rotate(0deg) translate(10px,0px);  }
   50% { -ms-transform:  rotate(0deg) translate(-10px,0px);  }
   60% { -ms-transform:  rotate(0deg) translate(10px,0px);  }
   70% { -ms-transform:  rotate(0deg) translate(-10px,0px);  }
   80% { -ms-transform:  rotate(0deg) translate(10px,0px);  }
   90% { -ms-transform:  rotate(0deg) translate(-10px,0px);  }
   100% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
}
@keyframes transform-shake
{
   0% { transform:  rotate(0deg);  }
   10% { transform:  rotate(0deg) translate(-10px,0px);  }
   20% { transform:  rotate(0deg) translate(10px,0px);  }
   30% { transform:  rotate(0deg) translate(-10px,0px);  }
   40% { transform:  rotate(0deg) translate(10px,0px);  }
   50% { transform:  rotate(0deg) translate(-10px,0px);  }
   60% { transform:  rotate(0deg) translate(10px,0px);  }
   70% { transform:  rotate(0deg) translate(-10px,0px);  }
   80% { transform:  rotate(0deg) translate(10px,0px);  }
   90% { transform:  rotate(0deg) translate(-10px,0px);  }
   100% { transform:  rotate(0deg) translate(0px,0px);  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
